body{
    background: #e5e5e5;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.main{
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

.formulario{
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
}

.form_label{
    display: block;
    font-weight: bold;
    padding: 10px;
}

.form_input{
    width: 100%;
    background: rgb(254, 248, 240);
    border-radius: 5px;
    height: 45px;
    border: 1px transparent;
}

.form_input_r{
    cursor: pointer;
    display: inline;
}

.form_btn{
    width: 100%;
    border-radius: 5px;
    height: 45px;
    background: rgb(54, 54, 54);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
